{% extends "main.html" %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card mt-2">
                <div class="card-body">
                    <a href="/cliente/lista" class="btn btn-success">Cadastrar</a>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nome</th>
                            <th>Sobrenome</th>
                            <th>Nome de Usuário</th>
                            <th>Cidade</th>
                            <th>Estado</th>
                            <th>CEP</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Adriely</td>
                            <td>Thawany</td>
                            <td>adriely.thawany17@gmail.com</td>
                            <td>Salvador</td>
                            <td>BA</td>
                            <td>41740320</td>
                            <td>
                                <button type="button" class="btn btn-danger">
                                    <i class="fa-solid fa-trash-arrow-up"></i>
                                    Excluir
                                </button>
                                <button type="button" class="btn btn-warning">
                                    <i class="fa-solid fa-user-pen"></i>
                                    Editar
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
